* {
	padding:0;
	margin:0;
}

body {
	width: 100vw;
	height:100vh;
	background: #0A2647;
}
.top {
	display:flex;
	justify-content: space-between;
	padding-top:1%;
	padding-bottom:1%;
}

.middle {
	font-size: 50px;
	color:#0A2647;
}

.gameBar {
	display:flex;
	padding-left: 2%;	
}

.game {
	width:8%;
	height:5%;
	max-width: 8%;
	max-height: 5%;
	padding:0.2%;
	border-radius: 12%;
	border:white 1px transparent;
	margin:0;
	transition: all .1s ease;

	-webkit-mask-image: linear-gradient(135deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(135deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position:100% 100%;
  mask-position: 100% 100%;
}

.game:hover {
	filter:brightness(120%);
	transform:scale(1.2);
	padding:0.15%;
	border:white 1px solid;
	margin:0.8%;

	transition: mask-position 5s ease,-webkit-mask-position 5s ease;
  -webkit-mask-position: 0;
  mask-position: 0;
  opacity: 1;
}

.bottom {
	background:red;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin-inline-start:50px;
}

.header {
	font-family: "Cookie", cursive;
	color: #2C74B3;
	font-size: 60px;
}

.navi {
	list-style-type: none;
}

span {
	margin-inline-start:50px;
	margin-inline-end:40px;
}

a {
	text-decoration:none;
}